{% block head %}
<meta charset="utf-8" />
<title>Landrick - Saas & Software Landing Page Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Premium Bootstrap 5 Landing Page Template" />

<!-- favicon -->
<link rel="shortcut icon" href="/application/themes/frontend/Landrick/assets/images/favicon.ico">
<!-- Bootstrap -->
<link href="/application/themes/frontend/Landrick/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<!-- Icons -->
<link href="/application/themes/frontend/Landrick/assets/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
<!-- Slider -->
<link rel="stylesheet" href="/application/themes/frontend/Landrick/assets/css/tiny-slider.css"/>
<!-- Main Css -->
<link href="/application/themes/frontend/Landrick/assets/css/style.css" rel="stylesheet" type="text/css" id="theme-opt" />
<link href="/application/themes/frontend/Landrick/assets/css/colors/default.css" rel="stylesheet" id="color-opt">
{% endblock %}