{% extends '/themes/frontend/index.html.twig' %}

{% block content %}
    <section class="bg-half-170 d-table w-100">
        <div class="container">
            Авторизация
        </div>
    </section>

{% endblock %}